.detailContainer {
    background-color: #79ADDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.container--h2 {
    background-color: #003554;
    width: 100%;
}