.card--cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 500px;
    height: 60px;
    background-color: #fafafa;
    border-radius: 25px;
}