* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #003554;
    text-align: center;
}

h1 {
    padding: 0.3rem;
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.9rem;
    padding: 2rem;
    color: #fff;
    background-color: #003554;
}

h3 {
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem;
    color: #fff;
}